---
layout: default
---

<div class="posts">
  <ul>
    {% for post in paginator.posts %}
      <li>
        <h4 class="row">
          <a href="{% if post.external_link %} {{ post.external_link }} {% else %} {{ post.url }} {% endif %}" class="large-9 columns">{{ post.title }}</a>
          <span class="date large-3 columns">{{ post.date | date: "%m/%d/%Y" }}</span>
        </h4>
        {% if post.image %} <img src="{{ post.image }}"/> {% endif %}
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>