---
layout: default
---

<div class="posts">
  <ul>
    {% for post in site.posts limit:10 %}
      <li>
        <h4 class="row">
          <a href="{% if post.external_link %} {{ post.external_link }} {% else %} {{ post.url }} {% endif %}" class="large-9 columns">{{ post.title }}</a>
          <span class="date large-3 columns">{{ post.date | date: "%m/%d/%Y" }}</span>
        </h4>
        {% if post.image %} <img src="{{ post.image }}"/> {% endif %}
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

{% include view-more.html %}