---
layout: default
---

<div class="posts">
  <ul>
    {% for post in paginator.posts %}
      <li>
        <h4 class="row">
          <a href="{% if post.external_link %} {{ post.external_link }} {% else %} {{ post.url }} {% endif %}" class="large-9 columns">{{ post.title }}</a>
          <span class="date large-3 columns">{{ post.date | date: "%m/%d/%Y" }}</span>
        </h4>
        <a href="{{ post.external_link }}">{% if post.image %} <img src="{{ post.image }}"/> {% endif %}</a>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page  %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">&larr;</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}" class="previous">&larr;</a>
    {% endif %}
  {% else %}
    <span class="previous">&larr;</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">&rarr;</a>
  {% else %}
    <span class="next ">&rarr;</span>
  {% endif %}
</div>