$primaryColor: #9E2B20;
$secondaryColor: #9E2B20;
$tertiaryColor: #888;
$background: #fff;
$primaryTextColor: #444;
$headlineFont: "adelle", sans-serif;
$bodyFont: source-sans-pro, sans-serif;

body {
  color: $primaryTextColor;
  background: $background;
  font-family: $bodyFont;
}

a, a:link, a:visited, a:active {
  font-family: $bodyFont;
  color: $secondaryColor;

  &.headline {
    color: $primaryColor;
    font-weight: normal;
    font-family: $headlineFont;
  }

  &:hover {
    color: $primaryColor;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFont;
  color: $primaryTextColor;
}

ul {
  list-style-type: none;
}

.date {
  color: $tertiaryColor; 
  font-family: $headlineFont;
}

#wrapper {
  margin-top: 40px;
}

#sidebar {
  position: fixed;

  @media(max-width: 767px) {
    position: relative;
  }

  header {
    font-family: $headlineFont;

    @media(max-width: 767px) {
      padding-top: 0;
    }

    .name a {
      font-size: 27px;
    }
  }

  nav a, nav a:link, nav a:visited, nav a:active {
    color: $tertiaryColor;

    &:hover {
      color: $primaryColor;
    }
  }

  .social {
    li {
      display: inline-block;

      a {
        i {
          color: $tertiaryColor;
          font-size: 2em;
          margin: 0 0.3em 0 0;

          @media(min-width:768px) and (max-width:950px) {
            font-size: 1.6em;
          }

          &:hover {
            color: $primaryColor;
          }
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.posts {
  header {
    font-family: $headlineFont;
    margin-bottom: 0.5em;

    .title {
      font-family: $headlineFont;
      font-size: 1.5em;
      line-height: 1.25em;
      padding-left: 0.64em;
    }

    .date {
      float: right;
      line-height: 1.8em;
      font-size: 1.2em;
      text-align: right;

      @media(max-width: 767px) {
        text-align: left;
        font-size: 16px;
      }
    }

    .external {
      font-size: 0.7em;
      color: $tertiaryColor;
      vertical-align: 6%;
      position: relative;
      display: inline-block;
    }
  }

  ul {
    li {
      margin-bottom: 3em;

      img {
        border: 1px solid #ccc;
        margin-top: 1.4em;
      }
    }
  }

  .continue {
    font-style: italic;
    font-weight: normal;
    font-size: 0.95em;

    i {
      font-style: italic;
    }
  }
}

.post {
  img {
    margin: 0 auto;
    display: block;

    &.featured {
      border: 1px solid #ccc;
      margin-bottom: 2em;
    }
  }

  header {
    h2 {
      a {
        font-weight: bold;
        font-style: normal;
        font-family: $headlineFont;
      } 

      .external {
        font-size: 0.5em;
        color: $tertiaryColor;
        vertical-align: 6%;
        position: relative;
        display: inline-block;
      }
    }
  }

  .date {
    display: block;
    margin-bottom: 2em;
  }

  .post-nav {
    text-align: center;
    font-style: italic;
    font-size: 0.95em;
    
    a {
      display: block;
      margin: 1em 0;
    }

    i {
      font-style: italic;
    }
  }
}

.archive {
  a {
    font-size: 1.2em;
    font-family: $headlineFont;
  }

  .date {
    text-align: right;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  ul {
    li {
      margin-bottom: 1em;
    }
  }
}

.pagination {
  color: $tertiaryColor;
  font-family: $bodyFont;
  padding: 1em 1em 2em 1em;
  font-size: 1.5em;
  text-align: center;

  @media(max-width: 767px) {
    font-size: 1.75em;
  }

  .previous, .next {
    i {
      margin: 0 0.5em;
    }

    &:hover {
      text-decoration: none;
    }
  }
}