body {
  color: #333;
}

ul {
  list-style-type: none;
}

#wrapper {
  margin-top: 40px;
}

#sidebar {
  header {
    padding-top: 0.9em;
  }
}

.posts {
  .date {
    color: #ccc;
  }

  ul {
    li {

      img {
        border: 1px solid #ccc;
      }
    }
  }
}

.post {
  img {
    border: 1px solid #ccc;
  }
}
