body {
  color: #333;
}

p {
  font-family: source-sans-pro, sans-serif;
}

a, a:link, a:visited, a:active {
  font-family: source-sans-pro, sans-serif;
  color: #FFA500;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: didact-gothic, sans-serif;
}

ul {
  list-style-type: none;
}

#wrapper {
  margin-top: 40px;
}

#sidebar {
  header {
    padding-top: 0.5em;

    @media(max-width: 768px) {
      padding-top: 0;
    }

    .name a {
      font-size: 27px;
    }
  }
}

.posts {
  .date {
    color: #aaa;
    text-align: right;

    @media(max-width: 768px) {
      text-align: left;
      font-size: 16px;
    }
  }

  ul {
    li {
      margin-bottom: 3em;

      h4.row {
        margin-bottom: 0.5em;

        .icon-external-link {
          font-size: 0.6em;
          color: #aaa;
        }
      }

      img {
        border: 1px solid #ccc;
      }
    }
  }
}

.post {
  img {
    margin: 0 auto;
    display: block;

    &.featured {
      border: 1px solid #ccc;
      margin-bottom: 2em;
    }
  }

  .date {
    color: #aaa;
    display: block;
    margin-bottom: 2em;
  }
}

.archive {
  .date {
    color: #ccc;
    text-align: right;
  }

  ul {
    li {
      margin-bottom: 1em;
    }
  }
}

.pagination {
  color: #444;
  font-family: source-sans-pro, sans-serif;
  padding: 1em 1em 2em 1em;
  font-size: 1.5em;
  text-align: center;

  @media(max-width: 768px) {
    font-size: 1.2em;
  }

  .previous i, .next i {
    margin: 0 0.5em;
  }
}
