<link rel="stylesheet" href="http://maps.caseypthomas.org/sims4papac/static/css/leaflet.css" />

<link href="http://maps.caseypthomas.org/sims4papac/static/css/sims.css" rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> 
</script>
<script src="http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.js"> 
</script>
<script type="text/javascript" src="http://maps.caseypthomas.org/sims4papac/static/js/contrib/wax.leaf.min.js"> 
</script>
<script type="text/javascript" src="https://raw.github.com/caseypt/davenport/master/src/davenport.js"> 
</script>
<script type="text/javascript" src="http://maps.caseypthomas.org/sims4papac/static/js/sims.js"> 
</script>


<div class="container" style="position: static; text-align: center;">

    <h4>National Contributors to Sims4PAPac by State</h4>
    <div id="state-map" class="map-container" style="position: static;"> </div>
    <img src="/../img/sims-state.png" id="state-png"/>
    
    <h4>State Contributors to Sims4PAPac by City</h4>
    <div id="city-map" class="map-container" style="position: static"> </div>
    <img src="/../img/sims-city.png" id="city-png"/>

</div>

<script type="text/javascript">
    $(document).ready(function(){

        drawStateMap();
        drawCityMap();

    });
</script>