body {
  font-family: "lato", serif;
  font-size: 14px;
  line-height: 20px;
  width: 710px;
  margin: 15px auto;
}

article {
  padding: 2px;
}

a:link, a:visited, a:active {
  color: #000;
}

h1 {
  text-align: left;
  font-size: 34px;
  font-weight: 200;
  margin: 15px 0 5px 0;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 6px 0 5px 0;
}

h3 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
  display: inline-block;
}

h4 {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  margin: 0;
}

ul {
  margin: 0 0 2px 0;
}

li {
  font-size: 12px;
}

.contact {
  border-bottom: 1px solid #111;
  margin: 15px 0 5px 0;
  text-align: left;
}

.date {
  display: inline-block;
  float: right;
  margin-top: 2px;
  font-weight: 300;
}

.location {
  font-style: italic;
  display: block;
}

.skill-set {
}

.publication {
  margin: 0;
  font-size: 12px;
}

.journal {
  font-style: italic;
}