body {
  color: #333; }

p {
  font-family: source-sans-pro, sans-serif; }

a, a:link, a:visited, a:active {
  font-family: source-sans-pro, sans-serif;
  color: #FFA500; }
  a:hover, a:link:hover, a:visited:hover, a:active:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: didact-gothic, sans-serif; }

ul {
  list-style-type: none; }

#wrapper {
  margin-top: 40px; }

#sidebar {
  position: fixed; }
  @media (max-width: 767px) {
    #sidebar {
      position: relative; } }
  #sidebar header {
    font-family: didact-gothic, sans-serif;
    padding-top: 0.2em; }
    @media (max-width: 767px) {
      #sidebar header {
        padding-top: 0; } }
    #sidebar header .name a {
      font-size: 27px; }

.posts header {
  font-family: didact-gothic, sans-serif;
  margin-bottom: 0.5em; }
  .posts header .title {
    font-family: didact-gothic, sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
    padding-left: 0.64em; }
  .posts header .date {
    color: #aaa;
    float: right;
    line-height: 1.8em;
    font-size: 1.2em;
    text-align: right; }
    @media (max-width: 767px) {
      .posts header .date {
        text-align: left;
        font-size: 16px; } }
  .posts header .external {
    font-size: 0.7em;
    color: #aaa;
    vertical-align: 6%;
    position: relative;
    display: inline-block; }
.posts ul li {
  margin-bottom: 3em; }
  .posts ul li img {
    border: 1px solid #ccc;
    margin-top: 1.4em; }
.posts .continue {
  font-style: italic;
  font-size: 0.95em; }
  .posts .continue i {
    font-style: italic; }

.post img {
  margin: 0 auto;
  display: block; }
  .post img.featured {
    border: 1px solid #ccc;
    margin-bottom: 2em; }
.post header h2 a {
  font-weight: bold;
  font-style: normal;
  font-family: didact-gothic, sans-serif; }
.post header h2 .external {
  font-size: 0.5em;
  color: #aaa;
  vertical-align: 6%;
  position: relative;
  display: inline-block; }
.post .date {
  color: #aaa;
  display: block;
  margin-bottom: 2em; }
.post .post-nav {
  text-align: center;
  font-style: italic;
  font-size: 0.95em; }
  .post .post-nav a {
    display: block;
    margin: 1em 0; }
  .post .post-nav i {
    font-style: italic; }

.archive .date {
  color: #ccc;
  text-align: right; }
.archive ul li {
  margin-bottom: 1em; }

.pagination {
  color: #444;
  font-family: source-sans-pro, sans-serif;
  padding: 1em 1em 2em 1em;
  font-size: 1.5em;
  text-align: center; }
  @media (max-width: 767px) {
    .pagination {
      font-size: 1.75em; } }
  .pagination .previous i, .pagination .next i {
    margin: 0 0.5em; }
  .pagination .previous:hover, .pagination .next:hover {
    text-decoration: none; }
