body {
  color: #444444;
  background: white;
  font-family: source-sans-pro, sans-serif; }

a, a:link, a:visited, a:active {
  font-family: source-sans-pro, sans-serif;
  color: #9e2b20; }
  a.headline, a:link.headline, a:visited.headline, a:active.headline {
    color: #9e2b20;
    font-weight: normal;
    font-family: "adelle", sans-serif; }
  a:hover, a:link:hover, a:visited:hover, a:active:hover {
    color: #9e2b20;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: "adelle", sans-serif;
  color: #444444; }

ul {
  list-style-type: none; }

.date {
  color: #888888;
  font-family: "adelle", sans-serif; }

#wrapper {
  margin-top: 40px; }

#sidebar {
  position: fixed; }
  @media (max-width: 767px) {
    #sidebar {
      position: relative; } }
  #sidebar header {
    font-family: "adelle", sans-serif; }
    @media (max-width: 767px) {
      #sidebar header {
        padding-top: 0; } }
    #sidebar header .name a {
      font-size: 27px; }
  #sidebar nav a, #sidebar nav a:link, #sidebar nav a:visited, #sidebar nav a:active {
    color: #888888; }
    #sidebar nav a:hover, #sidebar nav a:link:hover, #sidebar nav a:visited:hover, #sidebar nav a:active:hover {
      color: #9e2b20; }
  #sidebar .social li {
    display: inline-block; }
    #sidebar .social li a i {
      color: #888888;
      font-size: 2em;
      margin: 0 0.3em 0 0; }
      @media (min-width: 768px) and (max-width: 950px) {
        #sidebar .social li a i {
          font-size: 1.6em; } }
      #sidebar .social li a i:hover {
        color: #9e2b20; }
    #sidebar .social li a:hover {
      text-decoration: none; }

.posts header {
  font-family: "adelle", sans-serif;
  margin-bottom: 0.5em; }
  .posts header .title {
    font-family: "adelle", sans-serif;
    font-size: 1.5em;
    line-height: 1.25em;
    padding-left: 0.64em; }
  .posts header .date {
    float: right;
    line-height: 1.8em;
    font-size: 1.2em;
    text-align: right; }
    @media (max-width: 767px) {
      .posts header .date {
        text-align: left;
        font-size: 16px; } }
  .posts header .external {
    font-size: 0.7em;
    color: #888888;
    vertical-align: 6%;
    position: relative;
    display: inline-block; }
.posts ul li {
  margin-bottom: 3em; }
  .posts ul li img {
    border: 1px solid #ccc;
    margin-top: 1.4em; }
.posts .continue {
  font-style: italic;
  font-weight: normal;
  font-size: 0.95em; }
  .posts .continue i {
    font-style: italic; }

.post img {
  margin: 0 auto;
  display: block; }
  .post img.featured {
    border: 1px solid #ccc;
    margin-bottom: 2em; }
.post header h2 a {
  font-weight: bold;
  font-style: normal;
  font-family: "adelle", sans-serif; }
.post header h2 .external {
  font-size: 0.5em;
  color: #888888;
  vertical-align: 6%;
  position: relative;
  display: inline-block; }
.post .date {
  display: block;
  margin-bottom: 2em; }
.post .post-nav {
  text-align: center;
  font-style: italic;
  font-size: 0.95em; }
  .post .post-nav a {
    display: block;
    margin: 1em 0; }
  .post .post-nav i {
    font-style: italic; }

.archive a {
  font-size: 1.2em;
  font-family: "adelle", sans-serif; }
.archive .date {
  text-align: right;
  margin-bottom: 0;
  font-size: 1.2em; }
.archive ul li {
  margin-bottom: 1em; }

.pagination {
  color: #888888;
  font-family: source-sans-pro, sans-serif;
  padding: 1em 1em 2em 1em;
  font-size: 1.5em;
  text-align: center; }
  @media (max-width: 767px) {
    .pagination {
      font-size: 1.75em; } }
  .pagination .previous i, .pagination .next i {
    margin: 0 0.5em; }
  .pagination .previous:hover, .pagination .next:hover {
    text-decoration: none; }
